body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.divider {
    border: none;
    border-top: 1px solid gainsboro;
    margin: 20px 0;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.upload {
    width: calc(50% - 10px);
}

.action-button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.action-button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.error-text {
    padding-top: 10px;
    color: red;
}

.success-text {
    padding-top: 10px;
    color: limegreen;
}
